# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.pbxproj
*.plist
*.mak
*.build
*.xcodeproj
*.app
build-*
*.autosave
Debug*
Release*
mc_db
ui_*

#text editor backup files
*~
