# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
*.pro.*
moc_*.cpp
qrc_*.cpp
Makefile
*.user
*-build-*
*.pbxproj
*.plist
*.mak
*.build
*.xcodeproj
*.app
*.dmg
build-*
*.autosave
Debug*
Release*
mc_db
ui_*
*plugin_import.cpp
*.DS_Store

.qmake.stash
Makefile.Debug
Makefile.Release

#text editor backup files
*~

# KDevelop files
*.kdev4
src/moneychanger-qt

# visual studio noise
*.user
*.sdf
*ipch/
*.userprefs
*.suo
*.sln
*.sdf
*.vcxproj
*.vcxproj.filters
*.opensdf

# targets

build/
lib/
obj/
bin/
out/
/include/
